# **AI Society Activity 1 - Data** ü§ñ ‚ú®

## *Jupyter Notebooks and Python*
For workshops, we typically use **Google Colab**, a service that allows you to run python code in a nice containerized environment. It even provides free GPU/TPU runtimes!
_________________

In Google Colab, you write code using **Jupyter notebooks**. Notebooks are comprised of text and code cells, which can be run by hitting `Shift + Enter`. For your convenience, here are a few more nifty keyboard shortcuts:

* `Ctrl + m + b`: New cell below
* `Ctrl + m + a`: New cell above


## **Hardware Needed:** üíª
* Any computer with access to the internet and web browser

In [ ]:
# Print "Hello World" using the print()

print("hello world!!")

hello world!!

BE CAREFUL: in Jupyter notebooks, variables are _persistent across cells_, meaning you can run into nasty bugs if you're not careful with execution order. If something's ever behaving strangely and you think your code is ‚ú®flawless‚ú®, try restarting the runtime so that all vars are refreshed.

Here's an example to illustrate this problem: TBH, you shouldn't write code like this anyways, but hopefully this gets the point across üòõ

In [ ]:
x = 15

In [ ]:
def add_5_to_x():
    return x + 5

In [ ]:
add_5_to_x()

20

Correct way:

In [ ]:
def add_5_to_x(x):
    return x + 5

add_5_to_x(20)

25

<div class="markdown-google-sans">

## **Getting started** ‚è¨
</div>

The document you are reading is not a static web page, but an interactive environment called a **Colab notebook** that lets you write and execute code.

For example, here is a **code cell** with a short Python script that computes a value, stores it in a variable, and prints the result:

In [ ]:
seconds_in_a_day = 24 * 60 * 60
seconds_in_a_day

86400

To execute the code in the above cell, select it with a click and then either press the play button to the left of the code, or use the keyboard shortcut "Command/Ctrl+Enter". To edit the code, just click the cell and start editing.

Variables that you define in one cell can later be used in other cells:

In [ ]:
seconds_in_a_week = 7 * seconds_in_a_day
seconds_in_a_week

##**Example TASK 1** : ‚≠ï
* Print array of ["orange", "apple", "grapes"]
* make a variable called *fruits*

**OUTPUT:** ['orange', 'apple', 'grapes']

In [ ]:
# Print array of ["orange", "apple", "grapes"]
# make a variable called *fruits*

fruits= ["orange", "apple", "grapes"]
fruits

['orange', 'apple', 'grapes']

##**TASK 1: Calculate the Sum of Numbers in a List** ‚úÖ
* Create a list of numbers ([2, 4, 6, 8, 10]).
* Write a Python program to calculate and print the sum of all the numbers in the list.
**OUTPUT:* **Sum of numbers: 30**

In [ ]:
#Write your code here

## **Example TASK 2** : ‚≠ï
* make sure to import pandas

* Read titanic.csv using pandas & *.read_csv*

https://github.com/agconti/kaggle-titanic/blob/master/data/train.csv

In [ ]:
# write your code here
import pandas as pd
df=pd.read_csv("titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

##**TASK 2: Create a DataFrame and Display Rows** ‚úÖ

* Create a Pandas DataFrame with two columns: "Name" and "Age."
* Add a few rows of data to the DataFrame with names and ages.   
* Display the first few rows of the DataFrame using the head() method.

**OUTPUT below:**

![ui.png]()

In [ ]:
# write your code here

## **Task 3 : Calculate the Average of a List of Numbers** ‚úÖ

* Create a list of numbers (e.g., [10, 15, 20, 25, 30]).
* Write a Python program to calculate and print the average (mean) of the numbers in the list.
**OUTPUT:* **Average: 20.0**

In [ ]:
# write your code here

## **Task 4 Example (using a hypothetical sales dataset):**

In [ ]:
import pandas as pd

# Load a sales dataset from a CSV file
df = pd.read_csv("titanic.csv")

# Calculate and display summary statistics for the 'Sales' column
summary_stats_age = df['Age'].describe()

print("Summary Statistics for Age:")
print(summary_stats_age)

Summary Statistics for Age:
count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

 * **count:** This is the number of non-null values in the 'Age' column. In this case, there are 714 non-null values, which means that there are 714 passengers with known ages in the dataset.

* **mean:** This is the average (arithmetic mean) age of the passengers. The mean age is approximately 29.70 years.

* **min:** This is the minimum age observed in the dataset. The youngest passenger in this dataset was approximately 0.42 years old, which is equivalent to a few months.

* **25%:** This is the 25th percentile, also known as the first quartile. It represents the age below which 25% of the passengers fall. In this case, 25% of the passengers are aged 20.13 years or younger.

## **Task 4 : Read and Summarize Data from a CSV File** ‚úÖ

* Download a CSV dataset (e.g., a dataset containing sales data, student grades, or any other dataset of interest).
* Use Pandas to read the CSV file into a DataFrame.
* Calculate and display summary statistics for a numeric column in the DataFrame (e.g., calculate the average, maximum, minimum of sales values, or grades).

**Pick your own dataset from:** https://www.kaggle.com/

In [ ]:
# pick your own dataset from kaggle.com
# experiment with different functions